#article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Open Sans', 'sans serif';
    font-weight: bold;
    line-height: 2.75rem;
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 0.75rem;

    @media screen and (max-width: 1024px) {
      font-size: 2.25rem;
      line-height: 2.75rem;
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 2.25rem;
    margin-bottom: 1.5rem;
  }

  ul,
  ol {
    margin-bottom: 1.5rem;
  }

  ul li,
  ol li {
    font-size: 1.1rem;
    line-height: 2.25rem;
    margin-left: 1rem;
    padding-left: 1rem;
  }

  ul li li p,
  ol li li p {
    margin-bottom: 0.5rem;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }

  blockquote {
    margin-top: 2rem;
    padding-left: 1.25rem;
    border-left: solid var(--color-3) 0.5rem;
  }

  hr {
    margin-bottom: 2rem;
    border-top: solid 1px var(--color-2);
    border-bottom: none;
    border-left: none;
    border-right: none;
  }

  .gatsby-highlight {
    margin-bottom: 1.85rem;
    max-width: 100vw;
    overflow: scroll;
  }

  .content a {
    color: var(--color-1);
    padding: 0.25rem 0;
    position: relative;
    z-index: 1;
    font-family: 'Handlee', cursive;
    font-size: 1.5rem;
    font-style: normal;

    &:hover {
      color: var(--color-1-alternative);
      text-decoration: underline;
    }
  }

  .gatsby-resp-image-wrapper {
    max-width: 100% !important;
    width: 100%;
    margin: 1rem 0;
  }

  .gatsby-resp-image-image {
    box-shadow: none !important;
  }

  .twitter-tweet {
    margin: 0 auto;
  }

  table {
    width: 100%;
    border: solid 3px var(--color-1);
    margin-bottom: 0.5rem;

    th {
      background-color: var(--color-2);
      color: var(--color-2-script);
    }

    th,
    td {
      padding: 0.5rem 0.75rem;
      text-align: left;
    }

    tr:nth-child(even) td {
      background-color: var(--color-3);
      color: var(--color-3-script);
    }
  }

  img {
    box-shadow: 0 20px 25px -5px var(--shadow), 0 10px 10px -5px var(--shadow);
    border-radius: 8px;
    margin: 0 auto;

    &.play {
      border-radius: 50%;
    }
  }

  .gatsby-remark-autolink-header {
    fill: var(--inverse);
    position: absolute !important;
    left: -1.75rem;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 640px) {
      position: relative !important;
      left: 0;
      top: 0;
    }
  }
  code {
    display: inline-block;
    &::before {
      content: '';
      margin-top: 23px;
      display: inline-block;
    }
  }

  code,
  pre {
    /*
    Unnecessary scrollbars appear for inline-block
    https://stackoverflow.com/questions/29592010/unnecessary-scrollbars-appear-for-inline-block
    */
    overflow-x: scroll;
    max-width: 48rem;
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }

  pre {
    width: 100%;
  }

  .gatsby-remark-code-title {
    margin-bottom: -0.6rem;
    padding: 0.5em 1em;
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
      'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
      'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
      monospace;

    background-color: var(--color-neutral);
    color: var(--color-neutral-script);
    z-index: 0;

    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    font-size: 0.75rem;
    opacity: 0.6;
  }
}
