@media print {
  .light, .dark {
    --welcome-headings: #171e29;
    --search-neutral-1: #1a5478;
    --search-neutral-2: #9fdcff;
    --footer-link-1: #394d6e;
    --footer-link-2: #9fdcff;

    --neutral: #696969;

    --default: #f8f8f8;
    --default-script: #1b1d20;

    --inverse: #1b1d20;
    --inverse-script: #f8f8f8;

    --color-1: #00a2ff;
    --color-1-alternative: #ff009d;
    --color-1-script: #f8f8f8;

    --color-2: #02314d;
    --color-2-script: #f8f8f8;

    --color-3: #9fdcff;
    --color-3-script: #02314d;
  }
}
